
// ----------------------------
// INFO
// ----------------------------
//
// Author - Dan Collins dan@wearecube3.com
// Last updated - 23rd May 2013
// 
// -----------------------------


// ----------------------------
// T.O.C
// ----------------------------
//
// VARIABLES
// MIXINS
// IMPORTS - grid, compass, buttons, typography, forms
// SPRITES
// CSS3PIE CONFIG
// WEB FONTS

// LAYOUT/UI
// -- Body
// -- header
// -- footer
// -- boxes
// -- widgets
// -- backgrounds


// THEME COLORS

// TEMPLATE SPECIFIC

// HOME
//

// ABOUT


// NEWS
// -- category
// -- detail

// CONTACT US
// -- Success
// -- Failure


// TERTIARY

// HELPERS
// -----------------------------



// VARIABLES
// -------------------------

@import "variables"



// MIXINS
// -------------------------

@import "mixins";



// IMPORTS
// -------------------------

 @import "skeleton.css";
 @import "compass/reset";
 @import "compass/utilities";
 @import "compass/css3";
 @import "compass/css3/pie";
 @import "buttons";
 @import "typography";
 @import "forms";



// SPRITES
// -------------------------
  $decoration-sprite-dimensions: true;


  // $stage-sprite-dimensions: true;
  // @import "stage/*.png";
  // @include all-stage-sprites;

  // $heading-sprite-dimensions: true;
  // @import "heading/*.png";
  // @include all-heading-sprites;


  // $icon-sprite-dimensions: true;
  // @import "icon/*.png";
  // @include all-icon-sprites;



// CSS3PIE CONFIG
// -------------------------

  $pie-behavior: url("/PIE/PIE.htc");
  $pie-base-class: pie-element;
  .pie-element {
    // relative is the default, so passing relative
    // is redundant, but we do it here for clarity.
    @include pie-element(relative);
  }

  .some-class-with-a-gradient-background {
    // @include pie;
    // @include background-image(linear-gradient($topper-gradient-start, $topper-gradient-end));
    // -pie-background: linear-gradient($topper-gradient-start, $topper-gradient-end);
  }



// WEB FONTS
// -------------------------

// @include font-face("ProximaNovaACond-Thin", font-files("../fonts/Proxima_Nova_A_Cond_Thin.eot", "../fonts/Proxima_Nova_A_Cond_Thin.woff", "../fonts/Proxima_Nova_A_Cond_Thin.svg"), "../fonts/Proxima_Nova_A_Cond_Thin.eot?#iefix");
// @include font-face("ProximaNovaACond-Regular", font-files("../fonts/Proxima_Nova_A_Cond_Regular.eot", "../fonts/Proxima_Nova_A_Cond_Regular.woff", "../fonts/Proxima_Nova_A_Cond_Regular.svg"), "../fonts/Proxima_Nova_A_Cond_Regular.eot?#iefix");
// @include font-face("ProximaNovaACond-Bold", font-files("../fonts/Proxima_Nova_A_Cond_Bold.eot", "../fonts/Proxima_Nova_A_Cond_Bold.woff", "../fonts/Proxima_Nova_A_Cond_Bold.svg"), "../fonts/Proxima_Nova_A_Cond_Bold.eot?#iefix");



// LAYOUT/UI
// -------------------------

// -- Body

  html{
    font-size:62.5%;
  }
  body{
    background: $light url(../img/bg/body-bg.png) top center no-repeat;
    font-family: $sans;
    font-weight:normal;
    font-family:$serif; 
  }

// -- header



// -- footer




// -- boxes

  .box{
    padding:15px;
    margin-bottom:8px;
  }

  // -- widgets

  .widget{
    margin-bottom:8px;
  }

// -- backgrounds



// -- decoration



// THEME COLORS
// -------------------------

  .blue{
    color:$blue;
  }

  .pink{
    color:$pink;
  }

  .yellow{
    color:$yellow;
  }

  .green{
    color:$green;
  }

  .red{
    color:$red;
  }





// -- lists
// -- links



// TEMPLATE SPECIFIC
// -------------------------


// HOME
// -------------------------



// ABOUT
// -------------------------



// NEWS
// -------------------------




// -- category
// -- detail


// CONTACT US
// -------------------------

// -- Success
// -- Failure


// TERTIARY
// -------------------------


// HELPERS
// -----------------------------

  .row{
    @extend .cf;

  }

  .cf{
    @include pie-clearfix();
  }

  .fl{
    float:left;
  }

  .fr{
    float:right;
  }

  .columns.fr{
    float:right!important;
  }