
.button{
  @include border-radius(3px, 3px);
  text-align:center;
  padding:6px 10px;
  height:18px;
  line-height:1em;
  display:inline-block;
  text-decoration:none;
  @include font-size(1.3);
  line-height:120%;
  @include transition(background-image 1s ease-in);
  @include background(linear-gradient(#fbfbfb, #dfdfde));
  -pie-background: linear-gradient(#fbfbfb, #dfdfde);
}

