// TYPOGRAPHY
// -------------------------


// -- headings
h1, h2, h3, h4, h5, h6{
  line-height:120%;
  font-family:Georgia, "Times New Roman", Times, serif;
}
h3{
  @include font-size(2.2);

}


// -- normal copy
p{
  @include font-size(1.3);
  line-height:1.3em;
  margin-bottom:20px;
}