
// -- Colours

$dark: #3D3900;
$light: #fff;
$blue:#0AA0C0;
$pink:#E54599;
$yellow:#F8EE21;
$green:#74BF44;
$red:#DF462E;
$orange: #FF7F00;
$purple: #604493;


// -- Fonts

$sans: Helvetica, Arial, sans-serif;
$serif: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;


// -- Text Shadows

$default-text-shadow-h-offset: 1px;
$default-text-shadow-v-offset: 1px;
$default-text-shadow-blur: 0px;

$default-text-shadow-color: rgb(255,255,255);
